mongodb:
  enabled: true
  image:
    # Ojo: repository sin "docker.io/" al inicio
    repository: bitnami/mongodb
    tag: "4.4.15-debian-10-r8"
    pullPolicy: IfNotPresent

  auth:
    enabled: false

  persistence:
    enabled: false

hss:
  enabled: false

mme:
  enabled: false

pcrf:
  enabled: false

smf:
  config:
    pcrf:
      enabled: false

sgwc:
  enabled: false

sgwu:
  enabled: false

webui:
  ingress:
    enabled: false

populate:
  enabled: true
  initCommands:
    - open5gs-dbctl add_ue_with_slice 999700000000001 491BB1C6E1179AED538028AE7AD525B3 3B7FB099B3A6D16873B33F023B1679E9 internet 1 ffffff
